<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>About | Coffee Express</title>
  <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <img src="../public/assets/imgs/main-logo.png" alt="Coffee logo">
      </div>
      <menu class="nav-links">
        <li><a href="../public/index.php">Home</a></li>
        <li><a href="../public/menu.php">Menu</a></li>
        <li><a class="active" href="../public/about.php">About</a></li>
        <li><a href="../public/contact.php">Contact</a></li>
        <li><a href="../public/register.php">Register</a></li>
        <li><a href="../public/login.php">Login</a></li>
      </menu>
    </nav>
</header>

  <main>
    <section id="about">
      <h2>About Us</h2>
      <p>
        We are more than just a coffee provider – we are a community of coffee enthusiasts dedicated to delivering exceptional coffee experiences. Our mission is to bring the world’s finest coffee beans straight to your cup, ensuring every sip is a journey of rich flavors and aromas.
      </p>
    </section>

    <section id="we-offer">
      <h2>What We Offer</h2>
      <div class="services">
        <div class="service">
          <h4>Artisanal Coffee</h4>
          <p>Handpicked beans roasted to perfection.</p>
        </div>
        <div class="service">
          <h4>Sustainable Sourcing</h4>
          <p>Supporting farmers and eco-friendly practices.</p>
        </div>
        <div class="service">
          <h4>Personalized Experience</h4>
          <p>Blends tailored to suit every palate.</p>
        </div>
        <div class="service">
          <h4>Community-Driven Values</h4>
          <p>Bringing coffee lovers together through shared passion.</p>
        </div>

      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Coffee Express. All rights reserved.</p>
  </footer>
</body>
</html>