<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Home | Coffee Express</title>
  <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
    <header>
        <nav>
          <div class="logo">
            <img src="../public/assets/imgs/main-logo.png" alt="Coffee logo">
          </div>
          <menu class="nav-links">
            <li><a class="active" href="../public/index.php">Home</a></li>
            <li><a href="../public/menu.php">Menu</a></li>
            <li><a href="../public/about.php">About</a></li>
            <li><a href="../public/contact.php">Contact</a></li>
            <li><a href="../public/register.php">Register</a></li>
            <li><a href="../public/login.php">Login</a></li>
          </menu>
        </nav>
    </header>

  <main class="home">
    <section class="hero" id="hero">
      <h1>Welcome to Coffee Express</h1>
      <p>Order your favorite coffee online and get it delivered fresh!</p>
      <a href="menu.html" class="btn">View Menu</a>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Coffee Express. All rights reserved.</p>
  </footer>
</body>
</html>