/* Navbar styles */
:root {
  --llbrown: #D6C0B3;
  --lbrown: #AB886D;
  --bbrown: #6b4226;
  --ddbrown: #5a3820;
  --brown: #493628;
  --dbrown: #49362890;
}

*{
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--lbrown);
  color: #fff;
  padding: 0.25rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 70px;
}

nav .logo {
  width: 80px;
}

nav .logo img{
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: crimson;
}

.nav-links a.active {
  color: #E4E0E1;
  cursor: default;
  pointer-events: none;
  font-weight: bolder;
}

/* General styles */

main {
  text-align: center;
  height: calc(100vh - 128px);
}

main.register {
  height: auto;
}

main.menu {
  min-height: fit-content;
}

main.home {
  background-image: url(../assets/imgs/main-image.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  overflow: auto;
}

/* Homepage styles */

main .hero{
  padding: 1rem 1rem;
  background-color: var(--dbrown);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


main .hero h1{
  color: #E4E0E1;
  font-size:3rem;
  margin: 0.5rem;
}

main .hero p{
  color: var(--llbrown);
  margin: 0.5rem;
}

main .hero a{
  background-color: #E4E0E1;
  color: var(--brown);
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  border-radius: 25px;
}

main .hero a:hover{
  color: crimson;
}

/* About styles */

section#about{
  margin-bottom: 4rem;
}

section#about p{
  width: 80%;
  margin: 0 auto;
  background-color: var(--lbrown);
  border-radius: 15px;
  padding: 1rem;
  color: #fff;
}

section#we-offer .services{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

section#we-offer .services .service{
  flex-basis: 40%;
  flex-grow: 1;
  border-radius: 10px;
}

section#we-offer .services .service:nth-child(1) ,
section#we-offer .services .service:nth-child(4)
{
  background-color: #E4E0E1;
}

section#we-offer .services .service:nth-child(2) ,
section#we-offer .services .service:nth-child(3)
{
  background-color: var(--llbrown);
}

/* Menu styles */
section#menu h1{
  text-align: start;
  padding: 0.5rem 2rem;
}

section#menu .menu{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1rem auto;

}

section#menu .menu .menu-item{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  background-color: #E4E0E1;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 1px solid var(--brown);
  gap: 2rem;
  height: 100px;
}

section#menu .menu .menu-item .thumbnail{
  height: 100%;
  width: 15%;
  margin: 0;
}

section#menu .menu .menu-item .thumbnail img{
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 10px 0 0 10px;
}

section#menu .menu .menu-item .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section#menu .menu .menu-item .desc h3{
  margin: 0.25rem 0 0;
}

section#menu .menu .menu-item .desc .prices{
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

section#menu .menu .menu-item .desc p{
  margin: 0.25rem 0;
  text-align: start;
  color: var(--brown);
}


/* Footer styles */

footer {
  background: var(--brown);
  color: white;
  font-size: 0.75rem;
  padding: 0.25rem;
  width: 100%;
  height: 50px;
  display: flex;
  place-items: center;
}

footer p{
  text-align: center;
  width: 100%;
  margin: 0;
}

/* Form Styles */
.error {
  color: red;
  font-size: 0.75rem;
  padding: 0.25rem;
}

form {
  max-width: 500px;
  margin: 2rem auto;
  text-align: left;
}

.menu-item form {
  margin: revert;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form input,
form textarea,
form select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

form div,
form input:not(:has(+ div.error)),
form textarea:not(:has(+ div.error)),
form select:not(:has(+ div.error)) {
  margin-bottom: 1rem;
}

form input[type="radio"], form input[type="checkbox"] {
  width: auto;
}

form button {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--bbrown);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--ddbrown);
}

/* Modal Styles */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: var(--lbrown);
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: var(--dbrown);
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}